# Ignore test audio files
testAudio/

# Root level dependencies
node_modules/

# Backend specific
backend/node_modules/
backend/uploads/
backend/output/
backend/temp_adjust/
backend/.env*
backend/out/
backend/dist/
backend/*.tgz
backend/coverage/
backend/*.lcov
backend/logs/
backend/*.log
backend/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
backend/.eslintcache
backend/.cache
backend/*.tsbuildinfo
backend/.idea/

# Frontend specific (examples)
frontend/node_modules/
# frontend/dist/
# frontend/.env*

# OS specific
.DS_Store